.cart-container{
  background: #243b55;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  

}

.cart-container {
    position: relative;
  }
  
  .left-box-container {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;
  }

  .small-button {
    padding: 8px 16px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
    width: 25px;
}

.cart-items{
  width: 80%;
  margin: auto;
}